In [57]:
import pandas as pd

# Работа с Pandas

1. Загрузите ваш DataFrame в переменную df и выведете на экран первые пять строк

In [58]:
df = pd.read_csv('googleplaystore.csv')
df.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

2. Отобразите количество строк и столбцов в DataFrame

In [59]:
df.shape

(10841, 13)

3. Выведете основную информацию о DataFrame методом info(). Проанализируйте есть ли пропуски в столбцах. Напишите вывод о том, какие столбцы содержат пропуски

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

In [61]:
# Через df.shape мы узнали, что всего строк 10841. Значит пропуски есть. 
# Rating, Type, Content Rating, Current Ver, Android Ver имеют ненулевых строк меньше, чем общее количество строк.

4. Удалите или замените пропуски известными вам методами. (Подсказка: `dropna()` или `fillna()`, выбор того или иного метода должен быть аргументирован).

In [62]:
df.fillna(0, inplace=True)

5. Проверьте нет ли пропусков после произведенной обработки

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          10841 non-null  float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10841 non-null  object
 7   Price           10841 non-null  float64
 8   Content Rating  10841 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10841 non-null  object
 12  Android Ver     10841 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

6. Выведите на экран минимум и максимум из столбца `Price`:

In [64]:
mn = df['Price'].min()
mx = df['Price'].max()
print('Минимум: ' + str(mn) + '\nМаксимум: ' + str(mx))

Минимум: 0.0
Максимум: 400.0

7. Выведите на экран медиану и среднее арифметическое столбцов:
 - Rating
 - Reviews

In [69]:
print('Медиана "Rating": ' + str(df['Rating'].median()))
print('Ср. арифметическое "Rating": ' + str(df['Rating'].mean()))

# for i in range(len(df['Reviews'])):
#     if 'M' in df['Reviews'][i]:
#         df['Reviews'][i] = df['Reviews'][i][:-3] + '000000'

Медиана "Rating": 4.2
Ср. арифметическое "Rating": 3.6231897426436674

In [70]:
df['Reviews'] = df['Reviews'].astype('float64')

print('Медиана "Reviews": ' + str(df['Reviews'].median()))
print('Ср. арифметическое "Reviews": ' + str(df['Reviews'].mean()))

Медиана "Reviews": 2094.0
Ср. арифметическое "Reviews": 444388.6535374965

8. Выведите на экран все уникальные значения категориального столбца Genres

In [71]:
d = df['Genres'].unique()

9. Сгруппируйте данные по столбцу `Genres` и посчитайте для каждого жанра средний и медианный рейтинг. Представьте результат в виде нового DataFrame,который будет сохранен в переменную `grouped_df`, где одна колонка будет содержать названия жарнов, а две другие буду содержать в себе средний и медианный рейтинги. Напишите краткий вывод.

In [72]:
gr_df1 = df.groupby(by='Genres', as_index=False)['Rating'].agg('mean').rename(columns={'Rating':'Mean_Rating'})
gr_df2 = df.groupby(by='Genres', as_index=False)['Rating'].agg('median').rename(columns={'Rating':'Median_Rating'})

grouped_df = gr_df1.merge(gr_df2, on='Genres')
grouped_df

                                    Genres  Mean_Rating  Median_Rating
0                                   Action     4.203288            4.3
1                Action;Action & Adventure     4.311765            4.3
2                                Adventure     4.069333            4.3
3             Adventure;Action & Adventure     4.423077            4.5
4                    Adventure;Brain Games     4.600000            4.6
..                                     ...          ...            ...
115                Video Players & Editors     3.711561            4.2
116     Video Players & Editors;Creativity     4.100000            4.1
117  Video Players & Editors;Music & Video     4.000000            4.0
118                                Weather     3.881707            4.2
119                                   Word     4.258621            4.4

[120 rows x 3 columns]

10. Из получившегося датафрейма выведите на экран только те жанры, чей медианный рейтинг больше 4.5. Напишите краткий вывод.

In [73]:
grouped_df[grouped_df['Median_Rating'] > 4.5]
# Люди больше всего интересуется ролевыми играми и комиксами

                          Genres  Mean_Rating  Median_Rating
4          Adventure;Brain Games     4.600000            4.6
11       Art & Design;Creativity     4.400000            4.7
18            Board;Pretend Play     4.800000            4.8
35             Comics;Creativity     4.800000            4.8
55      Entertainment;Creativity     4.533333            4.6
60             February 11, 2018    19.000000           19.0
65    Health & Fitness;Education     4.700000            4.7
75           Music;Music & Video     4.533333            4.6
88              Puzzle;Education     4.600000            4.6
106  Strategy;Action & Adventure     4.600000            4.6

11. Выведете кол-во дубликатов в основном DataFrame (df) и удалите их

In [74]:
len(df) - len(df.drop_duplicates())

483

In [75]:
df.drop_duplicates(inplace=True)
df.shape

(10358, 13)

12. Посчитатайте какое количество приложений содержится в каждом жанре (value_counts).В получившемся Series выведите на экран 10 строк с наибольшим количеством приложений отсортированных по убыванию.

In [85]:
df['value_counts'] = df['Genres'].str.count(';')
df['value_counts'].sort_values(ascending=False).head(10)

8250    1
2206    1
2216    1
2215    1
2214    1
2213    1
2212    1
2210    1
2209    1
2208    1
Name: value_counts, dtype: int64